@import './utils/variables';
@import './utils/visually-hidden';
@import './utils/mixins';
@import './utils/placeholders';

@import './base/common';
@import './base/section';
@import './base/conteiner';

@import './components/logo';
@import './components/backdrop';
@import './components/modal-window';
@import './components/modal-btn';
@import './components/modal-form';
@import './components/networks';


@import './layout/header';
@import './layout/hero';
@import './layout/advantages';
@import './layout/tasks';
@import './layout/employees';
@import './layout/clients';
@import './layout/footer';
@import './layout/subscription';
@import './layout/portfolio';