.our-team {
    background-color: var(--section-grey-color);
    text-align: center;
}

.list-staff__item {
    background-color: var(--primary-white-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 4px;

    &:not(:last-child) {
        margin-right: 30px;
    }
}

.list-staff__cards {
    padding-top: 30px;
    padding-bottom: 30px;
}

.list-staff__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    @include font(16px, 500, 22px);
}

.list-staff__position {
    margin-bottom: 16px;
    @include font (16px, 400, 19px);
}