.footer {
    display: flex;
    text-align: center;
}

.foot {
    width: 100%;
    background-color: var(--hero-footer-color);
    padding-top: 60px;
    padding-bottom: 60px;

    .logo {
        display: block;
        margin-bottom: 20px;
    }
}

.list-contacts__item:not(:last-child) {
    margin-bottom: 8px;
}

.list-contacts__link {
    display: block;
    @include font ($lh: 24px);
    font-style: normal;

    color: var(--grey-shadow);

    transition: color var(--transition-dur-fun);

    &:hover,
    &:focus {
        color: var(--accent-color);
    }
}

.address-link {
    color: var(--primary-white-color);
}

.footer__title {
    @include font ($fw: 700, $lh: 16px);
    color: var(--primary-white-color);
    margin-bottom: 20px;
    text-transform: uppercase;
}

.dark {
    background-color: rgba(255, 255, 255, 0.1);
}

.social-link__icon-dark {
    width: 20px;
    height: 20px;
    fill: var(--primary-white-color);
}

@media screen and (max-width:767px) {
    .footer {
        gap: 60px;
        flex-direction: column;
    }
}

@media screen and (min-width:768px) {

    .footer {
        flex-wrap: wrap;
    }

    .footer__contacts {
        margin-left: auto;
    }

    .network-links {
        margin-left: 165px;
        margin-right: auto;
    }
}

@media screen and (min-width:1200px) {

    .footer {
        align-items: baseline;
        text-align: left;
    }

    .network-links {
        margin-left: 70px;
    }
}