.footer-form-conteiner {
    margin-left: auto;
}

.footer-form__label {
    width: 358px;
    height: 50px;
    padding-left: 16px;

    @include font($fs: 16px, $lh: 20px);

    color: var(--primary-white-color);
    background-color: var(--hero-footer-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    transition: border-color var(--transition-dur-fun);

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }

    &:focus {
        border-color: var(--accent-color);
        outline: none;
    }
}

.footer-form {
    display: flex;
    gap: 12px;
}

.button-send-email {
    @extend %align;
    padding: 10px 28px;
    margin: 0 auto;
    cursor: pointer;
    border: none;
    border-radius: 4px;

    text-align: center;
    font-family: inherit;
}

.button-send-email__icon {
    margin-left: 10px;
    fill: currentColor;
}